    /* ikefykecasnsimykqabrtjeqvxbtvvjihdil */
    @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 700;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebextraboldfanum.woff) format('woff');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 700;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebextraboldfanum.ttf) format('truetype');
    }
            @font-face {
        ly: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 700;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebextraboldfanum.eot) format('eot');
    }
                        @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 800;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebblackfanum.ttf) format('truetype');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 800;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebblackfanum.eot) format('eot');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 800;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebblackfanum.woff) format('woff');
    }
                        @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 900;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebextrablackfanum.ttf) format('truetype');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 900;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebextrablackfanum.eot) format('eot');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 900;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebextrablackfanum.woff) format('woff');
    }
                        @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 300;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanweblightfanum.ttf) format('truetype');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 300;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanweblightfanum.eot) format('eot');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 300;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanweblightfanum.woff) format('woff');
    }
                        @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 400;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebboldfanum.ttf) format('truetype');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 400;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebboldfanum.eot) format('eot');
    }
            @font-face {
        font-family: 'ikefykecasnsimykqabrtjeqvxbtvvjihdil';
        font-style: normal;
        font-weight: 400;
        src: local('ikefykecasnsimykqabrtjeqvxbtvvjihdil'), url(./iranyekanwebboldfanum.woff) format('woff');
    }
        